# Gradle
.gradle/
build/
*/build/

# IDE
.idea/
*.iml
*.iws
.vscode/

# OS
.DS_Store
Thumbs.db

# Other
*.jar
!src/**/*.jar
*.hprof
*.log


!gradle/wrapper/gradle-wrapper.jar


# Run directories
run/
*/run/
